.image {
    margin-top: 100px;
    width: 100%;
    height: auto;
    margin: 0 auto;

    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
   

    #rr {
        width: 50%;
        height: 50%;
    
    }
}



.faq{
     
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right:30px;
    border-radius: 10px;
    

}

h3,h2 , .faq p{
   margin-left: 30px;
   font-size: 20px;
 }

 .faq1 , .faq2 , .faq3 {
    border-bottom: 1px solid #ccc;
 }

 .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Set container height for vertical centering */
   
}


.card {
    width: 300px; /* Set card width */
    height: 300px; /* Set card height */
    margin: 0 10px; /* Add margin between cards */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   background-color: aliceblue;

}
