<!--<p>home works!</p>


 <a routerLink="/contactus">ContactUs</a>

<a routerLink="/aboutus">AboutUs</a>


<a routerLink="/registration">Registration</a>

<a routerLink="/login">Login</a> -->


<body>
  <!-- <br><br><br><br><br><br> -->  
    <div class="image">

        <img src="../../../../assets/RoadReadyLogo.jpeg" alt="RoadReady" id="rr">
    </div>
    

    <h2 style="margin-left:60px; color:grey">FAQ</h2> <br>
<div class="faq">
  
    <br>
    <div class="faq1">
    <h3>Is there a speed limit?</h3>
    <p>RoadReady allows up to 125 km/hr. However it is 80 km/hr in a few cities where some cars might be equipped with speed governors as per government directives. Revv strictly advises to follow local speed limits.</p>
    </div>

    <div class="faq2">
    <h3>Can I extend/ cancel/ modify?</h3>
    <p>Yes, extensions are possible subject to availability & charges. Cancellations & modifications will attract nominal charges as per our policy.</p>
    </div>

    <div class="faq3">
    <h3>Booking criteria & documents?</h3>
    <p>Min. 21 years old, have valid original government ID (Licence only) and a valid driving licence for “Light Motor Vehicles”, which is min. 1 year old at the time of starting the trip.    </p>
    </div>

    <div class="faq4">
    <h3>Are there any restricted areas?</h3>
    <p>Leh/Ladhakh, Spiti Valley & Kaza/Nako regions are not permitted to take RoadReady cars. Customer will be fully liable for any damages incurred to the car in that region.</p>
    </div>    
    <br>
</div>

<br>
<br>
<br>
<h2 style="margin-left:60px; color:grey">Happy Customers</h2> <br>
<div class="card-container">
<div class="card animate-slide">
    <div class="container" style="text-align: center;">
      <h4><b><img src="../assets/user.png" alt="Avatar" style="width:10%"></b></h4>
       <p>Rahul says:</p>
      <p>"I had a fantastic experience with roadready.<br>
        The booking process was smooth, and the car was clean and well-maintained.<br>
    </p>
    </div>
</div>  

<div class="card animate-slide">
    <div class="container" style="text-align: center;">
      <h4><b><img src="../assets/user.png" alt="Avatar" style="width:10%"></b></h4>
      <p>Priya says :</p>
      <p>
         The online booking process was quick and easy, and the pickup and drop-off were seamless.<br>
          The staff was courteous, ensuring I had everything I needed for a successful rental.<br>
        </p>
    </div>
</div>  



    <div class="card animate-slide">
        <div class="container" style="text-align: center;">
          <h4><b><img src="../assets/user.png" alt="Avatar" style="width:10%" ></b></h4>
          <p>Anand says:</p>
          <p>"I recently rented a car from RoadReady for a road trip, <br>
            and I couldn't be happier with my experience. <br>
        </p>
        </div>
    </div>  
    
    <div class="card animate-slide">
        <div class="container" style="text-align: center;">
          <h4><b><img src="../assets/user.png" alt="Avatar" style="width:10%"></b></h4>
          <p>Shalini says:</p>
          <p>"I've been using RoadReady for years,
            and they never disappoint! <br>
            Their wide selection of vehicles ensures I always find the perfect car for my needs.<br>
            </p>
        </div>
    </div>  
</div>

<br><br><br><br><br>


</body>
  
