<p>about-us works!</p>

<div class="flip-card">

    <div class="flip-card-inner">

        <div class="flip-card-front">
            <img src="../assets/c4.jpeg" alt="Car4" style="width:300px;height:195px;">
        </div>

        <div class="flip-card-back">
            <h3>Your Safety, Our Promise.</h3>
            <p>We promise to prioritize your safety above all else.</p>
            <p>When you choose RoadReady, you're choosing peace of mind.</p>
        </div>

    </div><br>

    <div class="flip-card-inner2">

        <div class="flip-card-front">
            <img src="../assets/c1.jpg" alt="Car1" style="width:300px;height:195px;">
        </div>

        <div class="flip-card-back">
            <h3>Drive with Confidence.</h3>
            <p>We take every precaution to ensure that our vehicles meet the highest safety standards.</p>
            <p>So you can focus on enjoying the journey ahead.</p>
        </div>

    </div><br>

    <div class="flip-card-inner3">

        <div class="flip-card-front">
            <img src="../assets/c2.jpeg" alt="Car2" style="width:300px;height:195px;">
        </div>

        <div class="flip-card-back">
            <h3>Your Journey, Our Commitment.</h3>
            <p>We offer personalized service and a wide range of vehicles to suit your needs.</p>
            <p>We're here to make your journey unforgettable</p>
        </div>

    </div><br>

    <div class="flip-card-inner4">

        <div class="flip-card-front">
            <img src="../assets/c3.jpeg" alt="Car3" style="width:300px;height:195px;">
        </div>

        <div class="flip-card-back">
            <h3>Where Quality Meets Service.</h3>
            <p>From our meticulously maintained fleet to our friendly and knowledgeable staff.</p>
            <p>We're dedicated to providing you with the best possible car rental experience.</p>
        </div>

    </div>




</div>
