<p>add customer works</p>

<div class="container">
  <form  #myform="ngForm"  method="post" (ngSubmit)="insertCustomer(myform.value)">

    <label for="fname">FIRST NAME</label>
    <input type="text" id="fname" #fnamecontrol="ngModel" name="firstName" placeholder="enter your first name"  required ngModel><br>
    <span  style="color: red;"  *ngIf="fnamecontrol.touched && fnamecontrol.invalid">First Name is Mandatory</span><br>

    <label for="lname">LAST NAME</label>
    <input type="text" id="lname" #lnamecontrol="ngModel" name="lastName" placeholder="enter your last name" required ngModel><br>
    <span  style="color: red;"  *ngIf="lnamecontrol.touched && lnamecontrol.invalid">Last Name is Mandatory</span><br>
   
    <label for="email">EMAIL ADDRESS</label>
    <input type="email" id="email" #emailcontrol="ngModel" name="emailAddress" placeholder="enter your email" required ngModel><br>
    <span  style="color: red;"  *ngIf="emailcontrol.touched && emailcontrol.invalid">Email is Mandatory</span><br>

    <label for="phone">PHONE NUMBER</label>
    <input type="text" id="phone" #phonecontrol="ngModel" name="phoneNumber" placeholder="enter your phone number" required ngModel><br>
    <span  style="color: red;"  *ngIf="phonecontrol.touched && phonecontrol.invalid">Phonenumber is Mandatory</span><br>

    <label for="username"> USERNAME</label>
    <input type="text" id="username" #usernamecontrol="ngModel"  name="username" placeholder="enter your username" required ngModel><br>
    <span  style="color: red;"  *ngIf="usernamecontrol.touched && usernamecontrol.invalid">Username is Mandatory</span><br>

    <label for="password">PASSWORD</label>
    <input type="password" id="password" #passwordcontrol="ngModel" name="password" placeholder="enter password"required minlength="10" ngModel><br>
    <span  style="color: red;"  *ngIf="passwordcontrol.touched && passwordcontrol.invalid">Password is Mandatory and should be of 10 characters</span><br>

    <button type="submit"   [disabled]="myform.invalid" >Submit</button>
  </form>
</div>


