
<div class="dashboard">
    <a class="active" routerLink="">HOME</a>
    <a routerLink="/aboutus">AboutUs</a>
    <a routerLink="/contactus">ContactUs</a>
    <a class="login" routerLink="/login">LOGIN</a>
    <a class="register" routerLink="/registration">REGISTER</a>
    </div>
    
    
    

<router-outlet></router-outlet>
 <a routerLink="/home">Home</a>  <br>

<router-outlet></router-outlet>



 <!-- <app-addcustomer></app-addcustomer>

<app-deletecustomer></app-deletecustomer>

<app-searchcustomer></app-searchcustomer>  -->


