<body>

    <div class="sidebar">
      <a routerLink="/searchallcustomers">Customers</a>
      <a routerLink="/searchallcars">Cars</a>
      <a routerLink="/viewallpayments">Payments</a>
      <a routerLink="/viewallreservations">Reservations</a>
      <a routerLink="/searchallagents">Agents</a>
      <a routerLink="/viewallfeedbacks">Feedbacks</a>
      <a routerLink="/revenue">Revenue</a>
    </div>
</body>


<div class="card-container">
  <div class="card">
    <img src="image1.jpg" alt="Image 1">
    <div class="container">
      <h4><b>Total Customers</b></h4>
      <p>number</p>
    </div>
  </div>
  
  <div class="card">
    <img src="image2.jpg" alt="Image 2">
    <div class="container">
      <h4><b>Total Cars</b></h4>
      <p>number</p>
    </div>
  </div>
  
  <div class="card wide">
    <img src="image3.jpg" alt="Image 3">
    <div class="container">
      <h4><b>Total Revenue</b></h4>
      <p>Description</p>
    </div>
  </div>
</div>



<div class ="logout">
 
  <button (click)="logout()">LOGOUT</button>

</div>



<router-outlet> </router-outlet>