<p>admin-dashboard works!</p>


<a routerLink="/deletecustomer">deletecustomer</a><br>
<a routerLink="/addcustomer">addcustomer</a><br>
<a routerLink="/updatecustomer">updatecustomer</a><br>
<a routerLink="/searchcustomer">searchcustomer</a><br>
<a routerLink="/addcar">addcar</a><br>
<a routerLink="/updatecar">updatecar</a><br>
<a routerLink="/deletecar">deletecar</a><br>
<a routerLink="/searchallcars">searchallcars</a><br>
<a routerLink="/searchcar">searchcar</a><br>
<a routerLink="/discountoncarbymake">discountoncarbymake</a><br>
<a routerLink="/updatecarprice">updatecarprice</a><br>
<a routerLink="/addagent">addagent</a><br>
<a routerLink="/deleteagent">deleteagent</a><br>
<a routerLink="/searchagent">search agent</a><br>
<a routerLink="/searchallagents">searchallagents</a><br>
<a routerLink="/updateagent">updateagent</a><br>
<a routerLink="/viewallreservations">View All Reservations</a><br>
<a routerLink="/reservationsofcustomer">Reservations of Customer</a><br>
<a routerLink="/viewallpayments">View All Payments</a><br>
<a routerLink="/payemntsofcustomer">Payments of Customer</a><br>
<a routerLink="/adminfeedback">Admin Feedback</a><br>
<a routerLink="/viewallfeedbacks">View All Feedbacks</a><br>
<a routerLink="/revenuebetweendates">Revenue Between Dates</a><br>
<a routerLink="/revenuebycustomer">Revenue by Customer</a><br>
<a routerLink="/totalrevenue">Total Revenue</a><br>
<a routerLink="/getavailablecars">Get Available Cars</a><br>
<a routerLink="/carbylocation">Cars by Location</a><br>
<a routerLink="/carbypassengercapacity">Cars by Passenger Capacity</a><br>
<a routerLink="/carbymake">Cars by Make</a><br>
<a routerLink="/carbyspecification">Cars by Specification</a><br>
<a routerLink="/searchcarsbylocationmakemodel">Search Cars by Location, Make, Model</a><br>





<router-outlet> </router-outlet>