body{
    margin: 0;
    padding: 0;
    background-image: url(src\assets\background.jpg);
    background-size: cover;
}

/* Style the card container */
.card-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:50px;
  }
  
  /* Style the row */
 
  
  /* Style the card */
  .card {
    margin-top: 50px;
    margin-bottom :30px;
    margin-right: 30px;
    margin-left:60px;
    background-image: linear-gradient(to right,  #08b3e5, #2fd7a89d);
    transition: 0.3s;
    width: 300px;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 20px;
  }
  
  /* On mouse-over, increase the card's shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .logout {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }