
.container {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color:aliceblue;
    box-sizing: border-box;
    text-align: center;
    /* Align content in the center */
   
}

p {
    display: inline-block;
    width: auto;
    /* Allow labels to take the width they need */
    text-align: right;
    /* Align text to the right within the label */
    margin-right: 20px;
    /* Add spacing between label and input field */
}

label {
    display: inline-block;
    width: auto;
    /* Allow labels to take the width they need */
    text-align: right;
    /* Align text to the right within the label */
    margin-right: 20px;
    /* Add spacing between label and input field */
}

