<p>customer-dashboard works!</p>



<!-- filters on left side and menu on right side-->

<h1>get available cars</h1>

<h1>search cars </h1>

<a routerLink="/updatecustomerdetails">updatecustomerdetails</a>



<a routerLink="/customerfeedback">customerfeedback</a>

<a routerLink="/uploadcustomeridentity">uploadcustomeridentity</a>

<a routerLink="/deletecustomeridentity">deletecustomeridentity</a>

<a routerLink="/makepayment">makepayment</a>

<a routerLink="/viewpaymenthistory">viewpaymenthistory</a>

<a routerLink="/modifyreservation">modifyreservation</a>

<a routerLink="/cancelreservation">cancelreservation</a>

<a routerLink="/viewreservationhistory">viewreservationhistory</a>

<a routerLink="carbylocation">Cars by Location</a><br>
<a routerLink="carbypassengercapacity">Cars by Passenger Capacity</a><br>
<a routerLink="carbymake">Cars by Make</a><br>
<a routerLink="carbyspecification">Cars by Specification</a><br>


<router-outlet></router-outlet>

